@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

*{
    padding: 0%;
    margin: 0px;
    box-sizing: 0px;
}

body{
  background-color: rgb(70, 68, 68);
  color: white;
  font-family: Poppins, sans-serif;     
}


header{ 
   display: flex;
   justify-content: space-between;              
   margin: 30px; 
    align-items: center;
}     


.header{
  
}

.sobre{
    justify-content: space-evenly;  
    width: 20vw; 
    display: flex;
    font-size: 14px;
    
}   

.pro{
    margin-top: 6px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.pro:hover{
    color: red;
    transition: all 0.5s ease 0s;

}

.sob{
    border: 2px solid #ffff;
    border-radius: 13px;
    padding-left:0.5vw ;
    padding-top:0.5vh ;
    padding-right:0.5vw ;
    padding-bottom:0.5vh ;
    width: 5vw; 
    font-size: 14px;
    color: rgb(146, 7, 7);
}   

.sob:hover{
    border: 2px solid  rgb(146, 7, 7);
    color:white ;
    background-color:rgb(146, 7, 7);
    transition: all 0.5s ease 0s;
}

.cont{
    margin-top: 6px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.cont:hover{
    color: red;
    transition: all 0.5s ease 0s;

}


.main{
    margin: 21vh;
}

.wassup{

    display: flex;
    align-items: center;
    font-size: 7vh;
    font-style: bold;
}

.exc{
    color: rgb(146, 7, 7);
    font-size: 9vh;
}   

.texto{

 
    font-size: 4vh;
}


.mae{
    display: flex;

}

.insta{
    width: 3vh;
   padding: 1vh 0;
}

.insta:hover{
    color: red;
    transition: all 0.5s ease 0s;

}

.tt{
    width: 3vh ;
    margin:0 1vh ;
    padding: 1vh 0;
}

.git{
    width: 2.5vh ;
    margin:0 0.5vh ;
    padding: 1vh 0;
}

.spot{
    width: 3vh ;
    margin: -0.1vh 1vh ;
    padding: 1vh 0;
}

.carti{
    margin:0 80vh;
    margin-top: -45vh;
}